{% extends 'base.html' %} {% block content %}
<div class="w-50 mx-auto p-3 rounded border border-light">
  <div class="card m-2 p-2">
    <div class="card-body">
      <div dir="{% if article.lang == 'fa' %}rtl{% else %}ltr{% endif %}">
        <h5 class="card-title">{{ article.title }}</h5>
        <h6>{{ article.body }}</h6>
        <p>{{ next_sentences }}</p>
      </div>
      {% load static %} {% if request.user.is_authenticated %}
      <a href="{% url 'add' article.id %}" class="btn btn-primary">add</a>
      <a href="{% url 'remove' article.id %}" class="btn btn-danger">remove</a>
      <a href="{{ article.pdf.url }}" class="btn btn-info">show</a>
      {% else %}
      <div class="alert alert-secondary" role="alert">
        To continue, please log in to your account
      </div>
      {%endif%}

      <div class="w-50 mx-auto p-3 rounded border border-light">
        <form
          action=""
          method="post"
          class="form"
          enctype="multipart/form-data"
          novalidate
        >
          {% csrf_token %} {{ form.word }}
          <input type="submit" class="btn btn-success m-2" value="Search" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
